body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

#left-side {
    float: left;
}
#right-side {
    float: left;
    height: 100vh;
}

#criticalityTable{
    margin: 40px auto 20px auto;
    padding-bottom: 15px;
    width: 500px;
    text-align: center;
    background-color: #FAFAFA;
    border: 1px solid #000;
    border-radius: 8px;
}
#criticalityTable h3{
    margin: 15px 0px;
    padding: 0px;
}
#criticalityTable .state{
    width: 90px;
    display: inline-block;
}
#criticalityTable .state h4{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
}
#criticalityTable .state .color{
    height:20px;
}
#criticalityTable .state .color1{
    background-color: #F0C8B5;
}
#criticalityTable .state .color2{
    background-color: #EAAB90;
}
#criticalityTable .state .color3{
    background-color: #D18358;
}
#criticalityTable .state .color4{
    background-color: #B55E3E;
}
#criticalityTable .state .color5{
    background-color: #7D3827;
}



/* CUSTOM TOOLTIP BOX */
#custom-tooltip{
    position: fixed;
    border-radius: 5px;
    color:#FFF;
    background-color: #000;
    padding:8px 10px;
    display: none;
    top: 0px;
    left:0px;
    z-index: 3;
}





/* CUSTOM SLIDER */

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 400px;
    height: 4px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    border-radius: 50%;
    background: #333; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    border-radius: 50%;
    background: #333; /* Green background */
    cursor: pointer; /* Cursor on hover */
}



/* COUNTRY DETAILS / BAR CHART */
#country-details{
    margin-left: 30px;
    width: 900px;
    height: 600px;
    margin-top: 50vh;
    transform: translateY(-50%);
}