body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

a{
    color: #0B68F0;
    text-decoration: none;
}


section#start-section{
    background: url("../img/background-pollution.jpg");
    background-position: center center;
    background-size: cover;
    text-align: center;
    min-height: 100vh;
}
section#start-section h1{
    margin: 0px 0px 0px 0px;
    padding:80px 0px 0px 0px;
    font-size: 50px;
}
section#start-section h2{
    margin: 0px;
    padding: 0px;
}
section#start-section .intro-text{
    width: 1000px;
    margin: 100px auto 0px auto;
    padding: 5px 20px 5px 20px;
    text-align: left;
    background-color: #FFF;
    opacity: 0.5;
    border-radius: 5px;
    font-size: 18px;
}



section#app-section h2{
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 40px;
    text-align: center;
}

section#more-section h2 {
    margin: 50px 0px 40px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 40px;
    text-align: center;
}
section#more-section .block{
    margin: 0px auto 60px auto;
    padding: 0px;
    width: 1000px;
    border-top: 1px solid #EEEEEE;
    text-align: justify;
}
section#more-section .block h3{
    font-size: 26px;
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
section#more-section .block .img-side{
    float: left;
    width: 400px;
    min-height: 360px;
    padding-top: 100px;
    padding-right: 35px;
}
section#more-section .block .img-side img{
    width: 100%;
}
section#more-section .block .text-side{
}

#left-side {
    float: left;
    width: 45%;
}
#left-side .infos {
    margin-top:  10px;
    margin-left: 10%;
}
#right-side {
    float: left;
    width: 55%;
    height: 100vh;
}

#map{
    width: 700px;
    height: 500px;
    border: 2px solid #EEEEEE;
    margin: 0px auto;
}

#criticalityTable{
    margin: 40px auto 20px auto;
    padding-bottom: 15px;
    width: 500px;
    text-align: center;
}
#criticalityTable h3{
    margin: 15px 0px;
    padding: 0px;
}
#criticalityTable .info{
    text-align: center;
    margin-top: 15px;
    font-weight: normal;
    font-size: 12px;
}
#criticalityTable .state{
    width: 90px;
    display: inline-block;
}
#criticalityTable .state h4{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
}
#criticalityTable .state .color{
    height:20px;
}
#criticalityTable .state .color1{
    background-color: #F0C8B5;
}
#criticalityTable .state .color2{
    background-color: #EAAB90;
}
#criticalityTable .state .color3{
    background-color: #D18358;
}
#criticalityTable .state .color4{
    background-color: #B55E3E;
}
#criticalityTable .state .color5{
    background-color: #7D3827;
}



/* CUSTOM TOOLTIP BOX */
#custom-tooltip{
    position: fixed;
    border-radius: 5px;
    color:#FFF;
    background-color: #000;
    padding:8px 10px;
    display: none;
    top: 0px;
    left:0px;
    z-index: 3;
    text-align: center;
}





/* CUSTOM SLIDER */

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 400px;
    height: 4px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    border-radius: 50%;
    background: #333; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    border-radius: 50%;
    background: #333; /* Green background */
    cursor: pointer; /* Cursor on hover */
}



/* COUNTRY DETAILS / BAR CHART */
#country-details{
    margin-left: 30px;
    width: 900px;
    height: 600px;
    margin-top: 50vh;
    transform: translateY(-50%);
}